## Filling missing datas with alogos...

In [28]:
import pandas as pd

In [29]:
data = {
    "Name": ["Ram", "Shyam", "Samiran", "Jhon", "Jene", "Victor", "Raj", "Simran"],
    "Age": [28, None, 30, 40, 29, 60, 32, 45],
    "Salary": [50000, 40000, 60000, 30000, 45000, 49000, 70000, 48000],
    "Performance_Score": [85, 90, 78, 92, 88, 95, 89, 80]
}

df = pd.DataFrame(data=data)

print(df)

      Name   Age  Salary  Performance_Score
0      Ram  28.0   50000                 85
1    Shyam   NaN   40000                 90
2  Samiran  30.0   60000                 78
3     Jhon  40.0   30000                 92
4     Jene  29.0   45000                 88
5   Victor  60.0   49000                 95
6      Raj  32.0   70000                 89
7   Simran  45.0   48000                 80

In [30]:
print(df.isnull())
print(df.isnull().sum())

    Name    Age  Salary  Performance_Score
0  False  False   False              False
1  False   True   False              False
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False
Name                 0
Age                  1
Salary               0
Performance_Score    0
dtype: int64

### Interpolate the Age column

In [ ]:
df.Age = df.Age.interpolate("linear")   #Linear algorithm
print(df)

In [32]:
print(df)
df.Age = df.Age.interpolate(method="polynomial", order=2)
print(df)

      Name   Age  Salary  Performance_Score
0      Ram  28.0   50000                 85
1    Shyam   NaN   40000                 90
2  Samiran  30.0   60000                 78
3     Jhon  40.0   30000                 92
4     Jene  29.0   45000                 88
5   Victor  60.0   49000                 95
6      Raj  32.0   70000                 89
7   Simran  45.0   48000                 80
      Name        Age  Salary  Performance_Score
0      Ram  28.000000   50000                 85
1    Shyam  23.767436   40000                 90
2  Samiran  30.000000   60000                 78
3     Jhon  40.000000   30000                 92
4     Jene  29.000000   45000                 88
5   Victor  60.000000   49000                 95
6      Raj  32.000000   70000                 89
7   Simran  45.000000   48000                 80