### Fill missing value...

In [35]:
import pandas as pd

In [36]:
data = {
    "Name": ["Ram", None, "Samiran", "Jhon", "Jene", "Victor", "Raj", "Simran"],
    "Age": [28, None, 30, 40, 29, 60, 32, 45],
    "Salary": [50000, None, 60000, 30000, 45000, 49000, 70000, 48000],
    "Performance_Score": [85, None, 78, 92, 88, 95, 89, 80]
}

df = pd.DataFrame(data=data)

print(df)

      Name   Age   Salary  Performance_Score
0      Ram  28.0  50000.0               85.0
1     None   NaN      NaN                NaN
2  Samiran  30.0  60000.0               78.0
3     Jhon  40.0  30000.0               92.0
4     Jene  29.0  45000.0               88.0
5   Victor  60.0  49000.0               95.0
6      Raj  32.0  70000.0               89.0
7   Simran  45.0  48000.0               80.0

In [37]:
print(df.isnull())

    Name    Age  Salary  Performance_Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False

In [38]:
print(df.isnull().sum())

Name                 1
Age                  1
Salary               1
Performance_Score    1
dtype: int64

### Fill missing age value with min value of age

In [39]:
df.Age.fillna(df.Age.mean(), inplace=True)
df.Salary.fillna(df.Salary.mean(), inplace=True)

/tmp/ipykernel_14579/3142361523.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.mean(), inplace=True)
/tmp/ipykernel_14579/3142361523.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Salary.fillna(df.Salary.mean(), inplace=True)

### Fill missing value with 0

In [40]:
df.fillna(0, inplace=True)
print(df)

      Name        Age        Salary  Performance_Score
0      Ram  28.000000  50000.000000               85.0
1        0  37.714286  50285.714286                0.0
2  Samiran  30.000000  60000.000000               78.0
3     Jhon  40.000000  30000.000000               92.0
4     Jene  29.000000  45000.000000               88.0
5   Victor  60.000000  49000.000000               95.0
6      Raj  32.000000  70000.000000               89.0
7   Simran  45.000000  48000.000000               80.0

In [41]:
print(df.isnull().sum())

Name                 0
Age                  0
Salary               0
Performance_Score    0
dtype: int64