In [13]:
import pandas as pd

In [14]:
data = {
    "Name": ["Ram", None, "Samiran", "Jhon", "Jene", "Victor", "Raj", "Simran"],
    "Age": [28, None, 30, 40, 29, 60, 32, 45],
    "Salary": [50000, None, 60000, 30000, 45000, 49000, 70000, 48000],
    "Performance_Score": [85, None, 78, 92, 88, 95, 89, 80]
}

df = pd.DataFrame(data=data)

print(df)

      Name   Age   Salary  Performance_Score
0      Ram  28.0  50000.0               85.0
1     None   NaN      NaN                NaN
2  Samiran  30.0  60000.0               78.0
3     Jhon  40.0  30000.0               92.0
4     Jene  29.0  45000.0               88.0
5   Victor  60.0  49000.0               95.0
6      Raj  32.0  70000.0               89.0
7   Simran  45.0  48000.0               80.0

In [15]:
print(df.isnull())

    Name    Age  Salary  Performance_Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False

In [16]:
print(df.isnull().sum())

Name                 1
Age                  1
Salary               1
Performance_Score    1
dtype: int64

### Handle missing data

In [ ]:
df.dropna(axis=0, inplace=True)  # axis=0 means remove rows... axis=1 means column
print(df)

      Name   Age   Salary  Performance_Score
0      Ram  28.0  50000.0               85.0
2  Samiran  30.0  60000.0               78.0
3     Jhon  40.0  30000.0               92.0
4     Jene  29.0  45000.0               88.0
5   Victor  60.0  49000.0               95.0
6      Raj  32.0  70000.0               89.0
7   Simran  45.0  48000.0               80.0