In [32]:
import pandas as pd

### Create dataframe

In [33]:
data = {
    "Name": ["Ram", "Shyam", "Samiran", "Jhon", "Jene", "Victor", "Raj", "Simran"],
    "Age": [28, 27, 30, 40, 29, 60, 32, 45],
    "Salary": [50000, 40000, 60000, 30000, 45000, 49000, 70000, 48000],
    "Performance_Score": [85, 90, 78, 92, 88, 95, 89, 80]
}

df = pd.DataFrame(data=data)

print(df.head(1))

  Name  Age  Salary  Performance_Score
0  Ram   28   50000                 85

### Create a column name Bonus and add 10% of salary...

In [34]:
df["Bonus"] = df["Salary"] * 0.1

df.insert(5, "Total_Salary", df["Salary"] + df["Bonus"])

# Using insert method...
df.insert(0, "Employee_id", range(1, len(df) + 1))

print(df)

   Employee_id     Name  Age  Salary  Performance_Score   Bonus  Total_Salary
0            1      Ram   28   50000                 85  5000.0       55000.0
1            2    Shyam   27   40000                 90  4000.0       44000.0
2            3  Samiran   30   60000                 78  6000.0       66000.0
3            4     Jhon   40   30000                 92  3000.0       33000.0
4            5     Jene   29   45000                 88  4500.0       49500.0
5            6   Victor   60   49000                 95  4900.0       53900.0
6            7      Raj   32   70000                 89  7000.0       77000.0
7            8   Simran   45   48000                 80  4800.0       52800.0