In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Ram", "Shyam", "Samiran", "Jhon", "Jene", "Victor", "Raj", "Simran"],
    "Age": [28, 27, 30, 40, 29, 60, 32, 45],
    "Salary": [50000, 40000, 60000, 30000, 45000, 49000, 70000, 48000],
    "Performance_Score": [85, 90, 78, 92, 88, 95, 89, 80]
}

df = pd.DataFrame(data=data)

print(df)

      Name  Age  Salary  Performance_Score
0      Ram   28   50000                 85
1    Shyam   27   40000                 90
2  Samiran   30   60000                 78
3     Jhon   40   30000                 92
4     Jene   29   45000                 88
5   Victor   60   49000                 95
6      Raj   32   70000                 89
7   Simran   45   48000                 80

### Increase everyone's salary by 10%

In [3]:
df["Salary"] = df["Salary"] * 1.2

print(df)

      Name  Age   Salary  Performance_Score
0      Ram   28  60000.0                 85
1    Shyam   27  48000.0                 90
2  Samiran   30  72000.0                 78
3     Jhon   40  36000.0                 92
4     Jene   29  54000.0                 88
5   Victor   60  58800.0                 95
6      Raj   32  84000.0                 89
7   Simran   45  57600.0                 80