In [1]:
import pandas as pd

In [2]:
data = {
    "name": ["Arun", "Varun", "Tarun"],
    "age": [60, 22, 30],
    "salary": [10000, 20000, 30000]
}

data_frame = pd.DataFrame(data=data)
print(data_frame)

    name  age  salary
0   Arun   60   10000
1  Varun   22   20000
2  Tarun   30   30000

In [6]:
avg_salary = data_frame["salary"].mean()
print(f"Average Salary: {avg_salary}")

Average Salary: 20000.0